.features {
	
	background-color: $backColor;
	color: $fontColor;
	
	&__feature-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__feature-item {
		text-align: center;
		max-width: 168px;
		width: 25%;
		margin-right: 66px;
		margin-bottom: 66px;
	}
}