.headline {
	font-size: 40px;
	font-family: $headlineFont;
	font-weight: bold;
	margin: 0;

	&--centered {
		text-align: center;
	}

	&--leftaligned {
		text-align: left;
	}
	
	&--about-company-heading {
		color: $fontColor;
	}

	&--top-heading {
		font-size: 50px;
	}

	&--about-company-heading,
	&--form-headline,
	&--features-headline,
	&--about-product,
	&--tech-specs {
		padding: 84px 0 70px;
	}
}